* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Tajawal', sans-serif;
    user-select: none;
}


#rmimg {
    width: 100%;
    height: 180px;
    margin-bottom: 10px;
}

#rmimg img {
    width: 100%;
    height: 100%;
}

a#mi img {    width: 100%;
    vertical-align: bottom;
    height: 100%;
    display: inline-block;
    float: right;}

a#mi {
    width: 185px;
}

#mi span {
    display: inline-block;
    float: right;
    margin-top: 8px;
    margin-right: 6px;
    font-size: 15px;
}

#myIframe {
    width: 100%;
    height: 100vh;
    /* 100٪
     من ارتفاع الشاشة الظاهرية */
    border: none;
    margin-left: -2px;
    /* اختياري: لإزالة حدود الإطار */
}

footer span i {
    vertical-align: middle;
}

header {
    position: relative;
    display: block;
    background-color: #fff;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #bf152c;
    user-select: none;
    padding: 10px 0;
    top: 0;
    box-shadow: 0 4px 24px rgb(0 0 0 / 25%);
}

footer {
    position: fixed;
    display: block;
    background-color: #fff;
    width: 100%;
    text-align: center;
    border-top: 2px solid #bf152c;
    user-select: none;
    padding: 15px 0;
    bottom: 0;
    box-shadow: 0 4px 24px rgb(0 0 0 / 25%);
}

footer span {
    display: inline-block;
    padding: 5px 10px;
    font-size: 17px;
    width: 15%;


}

#no a {
    color: inherit;
    text-decoration: none;
}

.goo {
    visibility: hidden;
    opacity: 0;
    font-size: 0px;
}


#no .active1>kl.goo {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    font-size: 13px;
    transition: 0.2s;
    /* وأي تعديلات أخرى ترغب في تطبيقها على الكلاس active */
}

#call {
padding: 4px;
    text-align: center;
    border-top: 1px solid #df2829;
    bottom: 5px;
    background: white;
    position: relative;
}

#call span {
    margin: 10px;
    display: inline-block;
}

#not::before {
    content: '\f0f3';
    margin-right: 18px;
}

.active1 {
    border-radius: 20px;
    background-color: #bf152c;
    width: 30%;
    transition: 0.2s;
    box-shadow: 0 4px 24px rgb(0 0 0 / 25%);
    color: white;
}

#sucial {
     position: relative;
    bottom: 0;
    display: flex;
    background: #bf152c;
    width: 100%;
    padding: 11px;
    color: white;
    align-items: center;
    justify-content: space-around;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 20px;
}

#side-menu {
    position: fixed;
    height: 100vh;
    overflow: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    inset-block: 0;
    box-shadow: -4px 0 10px rgb(0 0 0 / 20%);
    transition: all 0.7s;
    z-index: 99;
    inset-inline-start: calc(-100%);
    width: 275px;
}

#side-menu ul {
    list-style: none;
    padding: 0;
}

#side-menu ul li {
    border-bottom: 0.1px solid #ececec;
}

#side-menu a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 13px;
    color: #313131;
}

#sucial .fa {
    vertical-align: middle;
}

#sucial svg {
    fill: white;
    vertical-align: middle;

}

#sucial svg path {
    fill: white;
}

.fa.fa-angle-right {
    position: absolute;
    right: 0;
    margin-right: 13px;
    font-size: 13px;
    color: #606060;
}

#torke svg {
    width: 22px;
    height: 18px;
    vertical-align: middle;
}

#open-menu,
#close-menu {
    border: 0;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: #bf152c;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    padding-top: 6px;
}

#sucial a {
    padding: 6px 9px;
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 13px;
    height: auto;
    display: inline-block;
}

#call img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: 0 3px;
}

#open-menu::before {
    content: "\f036";

}

#me::before {
    content: '\f06a';
}

ul li a::before {
    margin-right: 18px;
}

#star::before {
    content: '\f005';
}

#ad::before {
    content: '\f0a1';
}

#share::before {
    content: '\f1e0';
}

#dark::before {
    content: '\f186';
}

#open-menu::before,
ul li a::before,
header #home::before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
}

header #home {
    border: 0;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    background-color: #bf152c;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    padding-top: 6px;
}

header #home::before {
    content: "\f015";

}

.active5 {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0 / 30%);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}
